.pokemon__list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pokemon__card-link {
  text-decoration: none;
  color: black;
}
.pokemon__name {
  text-transform: capitalize;
}